.ads-banner {
  background-image: url("../images/ads-banner.png");
  background-repeat: no-repeat;
  background-size: 100% 80%;
  background-position: center bottom;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 240px;
    padding-bottom: 275px;
  }

  &__title {
    max-width: 997px;
    margin: 0;
    margin-right: 13px;
    margin-bottom: 135px;
    padding-top: 80px;
    padding-right: 40px;
    padding-bottom: 80px;
    padding-left: 67px;
    border-radius: 4px;
    font-family: $font-family-added;
    font-size: 60px;
    line-height: 76px;
    font-weight: 700;
    letter-spacing: 1.2px;
    background-color: $color-beige;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
  }

  &__btn {
    margin-right: 12px;
  }
}
