.ads-presenters {
  background-color: $color-white;

  &__container {
    padding-top: 113px;
    padding-bottom: 231px;
    padding-left: 35px;
    background-image: url("../images/presenters-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__title {
    margin-bottom: 100px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    width: calc(100% / 2 - 60px);
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 70px 38px;
    font-size: 26px;
    line-height: 30px;
    text-align: left;
    background-color: $color-beige;
    cursor: pointer;
  }

  &__circle {
    width: 200px;
    height: 200px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: $color-white;
    overflow: hidden;
  }

  &__description {
    display: flex;
    flex-direction: column;
    width: 54%;
  }

  &__name {
    margin: 0;
    margin-bottom: 12px;
    font-family: $font-family-added;
    font-size: 40px;
    line-height: 55px;
  }
}
