.ads-way {
  height: 1607px;
  background-color: $color-dark_blue;

  &__container {
    height: 100%;
    padding-top: 110px;
    padding-bottom: 100px;
    padding-left: 38px;
    font-weight: 700;
    color: $color-white;
    background-image: url("../images/ads-scheme-bg-full.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__title {
    padding-left: 31px;
  }
}
