.ads-descr {
  &__container {
    padding-top: 106px;
    padding-bottom: 113px;
    padding-left: 40px;
    padding-right: 45px;
  }

  &__text {
    margin: 0;
    line-height: 47px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
