// Base
$font-family: "Roboto", sans-serif;
$font-family-added: "RobotoSlab", sans-serif;
$content-width: 1425px;
$container-offset: 25px;
$container: $content-width + $container-offset * 2;
$font-size: 40px;
$line-height: normal;

// Colors
$color-white: #ffffff;
$color-light_text: #efeff1;
$color-beige: #f1e9e2;
$color-light_yellow: #fcf3a6;
$color-accent: #ff0bab;
$color-dark_blue: #2f2b46;
$color-dark_grey: #333333;
$color-brownish: #270911;
