<footer class="footer">
  <div class="footer__container container">
    <div class="footer__company">
      <span>ИП Быков А. О.</span>
      <span>ОГРНИП 321784700128342</span>
      <span>ИНН 781623892382</span>
      <span>Телефон: <a class="footer__link effects" href="tel:+79219606734">+79219606734</a></span>
      <span>Е-мейл: <a class="footer__link effects" href="mailto:bytesandrights@gmail.com">bytesandrights@gmail.com</a></span>
    </div>
    <div class="footer__docs">
      <a class="footer__link effects" href="policy.html" aria-label="Ссылка на политику обработки персональных данных">Политика обработки персональных данных</a>
      <a class="footer__link effects" href="users.html" aria-label="Ссылка на пользовательское соглашение">Пользовательское соглашение</a>
    </div>
    <a class="footer__link effects" href="./" aria-label="Ссылка на главную страницу Bytes & Rights">
      <!-- <img class="logo" src="images/logo.webp" width="198" height="72" alt="Логотип Bytes and Rights" /> -->
      <svg class="logo">
        <use xlink:href="images/sprite.svg#logo"></use>
      </svg>
    </a>
  </div>
</footer>
