<header class="header">
  <div class="header__container container">
    <a class="header__link effects" href="./" aria-label="Ссылка на главную страницу Bytes & Rights">
      <!-- <img class="logo" src="images/logo.webp" width="198" height="72" alt="Логотип Bytes and Rights" /> -->
      <svg class="logo">
        <use xlink:href="images/sprite.svg#logo"></use>
      </svg>
    </a>
    <nav class="header__nav nav">
      <ul class="nav-list list-reset">
        <li class="nav-item"><a class="nav-link effects" href="#descr">@1</a></li>
        <li class="nav-item"><a class="nav-link effects" href="#presenters">@2</a></li>
        <li class="nav-item"><a class="nav-link effects" href="#way">@3</a></li>
        <li class="nav-item"><a class="nav-link effects" href="#registration">@4</a></li>
      </ul>
    </nav>
  </div>
</header>
