.checkbox {
  font-size: 25px;
  line-height: 30px;
  font-weight: 300;

  & label {
    position: relative;
    display: block;
    height: 100%;
    cursor: pointer;
    opacity: 1;

    &:hover::before {
      opacity: 0.5;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      display: inline-block;
      height: 40px;
      width: 40px;
      border: 3px solid #bdbdbd;
      border-radius: 5px;
      cursor: pointer;
    }

    &::after {
      content: none;
      position: absolute;
      display: inline-block;
      height: 15px;
      width: 25px;
      border-left: 5px solid $color-accent;
      border-bottom: 5px solid $color-accent;
      transform: rotate(-45deg);
    }

    span {
      width: 99%;
      display: inline-block;
      text-align: left;
      padding-left: 60px;

      a {
        text-decoration: underline;
        white-space: nowrap;
      }
    }
  }

  & input {
    position: absolute;
    opacity: 0;

    &:checked + label::after {
      content: "";
      top: 8px;
      left: 8px;
    }

    &:focus-visible + label::before {
      border: 3px solid $color-accent;
    }
  }
}
