.form-registration {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__fields {
    display: flex;
    flex-direction: column;
  }

  &__label {
    margin-bottom: 100px;

    &:not(:last-of-type) {
      margin-bottom: 60px;
    }
  }

  &__input {
    width: 100%;
    padding: 25px 40px;
    border: 1px solid $color-dark_grey;

    &::placeholder {
      font-size: 25px;
      transform: translateY(-4px);
    }
  }

  &__checkbox {
    margin-bottom: 170px;
  }

  &__btn {
    max-width: max-content;
    padding: 30px 20px;

    &:disabled {
      background-color: grey;
      cursor: not-allowed;
    }
  }
}
